*.iml
*.dex
*.apk
*.ap_
*.aab
*.class
.gradle
/local.properties
.idea
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
build/
bin/
gen/
.navigation
captures/
output.json
/captures
.externalNativeBuild
.cxx
local.properties
buildSrc/build
app/build
